body {
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orenge {
    color: orange;
}

.flexible {
    display: flex;

}

.orenge {
    color: orange;
}

.half-width {
    width: 50%;
    padding: 10px 20px;
}

.half-width img {
    width: 80%;
}

.dream-bg {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 150px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(orange, yellow);
    border-radius: 5px;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.half-width p {
    max-width: 80%;
}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiencs-item {
    box-shadow: 10px 10px 40px gray;
    margin-left: 30px;
    margin-right: 20px;
    width: 50%;
    padding-left: 20px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#full-stack-web-developer {
    border-left: 7px solid red;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}